/* mobile first */
.intro-body {
    background-color: #f5d365;
}

.btn {
    background-color: rgb(53, 51, 51);
    color: white;
    border: none;
    padding: 5px
}

/* Laptop/Tablet */



/* Desktop */